.contex{
    min-height: 300px;


}

.intro{
    /* height: 40vh; */
    position: relative;
    background-color: #fafafa;
    padding-top: 110px;
    padding-bottom: 70px;
    z-index: 10;
}

.intro p{
    font-size: 17px;
    color: #787878;
    
}
.intro h2{
    font-weight: bold;
    
}

.intro:nth-child(2){
    background-color: white;
}

.contact{
    height: 100%;
    min-height: 400px;
     background: url('../static/etusivu.jpg') no-repeat; 
     background-size: 53% auto;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 1.3em;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.43);
}


 

.services >div{
    display: table-cell;
    vertical-align: middle;
}

.contact >div{
    display: table-cell;
    vertical-align: middle;
}

.steps-homepage    {
    /* padding-top: 50px; */
    /* padding-bottom: 70px; */
    max-width: 1400px;
    }

.steps-homepage  {
    padding-top: 110px;
    padding-bottom: 70px;
}
.steps-homepage  div{
/* margin:5px;
border: 1px solid rgba(0, 0, 0, 0.08); */
/* padding: 35px; */

}

.steps-homepage-padding{
    padding: 35px 15px 35px 15px;
}

.steps-homepage  h3{
margin-bottom:0.6em;
/* text-align: center; */

}
.steps-homepage  h2{
margin-bottom:0.6em;
text-align: center;

}
.steps-homepage  p{
margin-bottom:0.6em;
text-align: center;

}

.steps-homepage  div ul{
    display: block;
    list-style-type: "-";
}


.steps-homepage  div li{
    /* display: list-item; */
    font-size: inherit;
    list-style-type: "-";
}

.steps-homepage  div img{
width: 20%;
}

.facts-homepage{
    background-repeat: no-repeat;
    background-image: url('../static/awara-home.jpg');
    background-attachment: scroll;
    background-position: center center;
    padding-top: 110px;
    padding-bottom: 70px;
    width: 100%;
    background-size: cover;
    color:white;
}

.facts-homepage > div > hr {
    width: 40px;
    margin: 20px 0 15px;
    border-color: #1f1f1f;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    margin-left: auto !important;
    margin-right: auto !important;
}



.facts-homepage  span {
    display: block;
}


.facts-homepage  h2 {
    font-weight: bold;
}





.white-homepage{
background-color: white;
    height: 40vh;
    width: 100%;
}


.intro > .container > hr {
   
}

.intro > .container > hr {
    width: 40px;
    margin: 20px 0 15px;
    border-color: #1f1f1f;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    margin-left: auto !important;
    margin-right: auto !important;
}

.step > hr {
    width: 40px;
    margin: 20px 0 15px;
    border-color: #1f1f1f;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    /* margin-left: auto !important;
    margin-right: auto !important; */
}

.step{
    padding:45px 0px 45px 0px;
}


