.footer{
    background-color: black;
    color: white;
    /* height: 300px; */
    text-align: center;
}

.bottom_border {
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 50%;
    margin: auto;

}

.vertical_midle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.icon{
    font-size: 1.9em;
    padding: 1rem;
}
/* * {
    box-sizing: flex;
} */