.test{
    height: 100%;
}

.wrapper-video{
    position: relative;
    padding-top: 56.25%;
    box-sizing: inherit;
}

.wrapper-video img {
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease;
    z-index: 8;
    width: 100%;
    height: auto;
    background-size: cover;
}

.video-withd{
         max-width: 960px;
         margin: auto;
}

.text-over-video{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    text-align: center;
    z-index: 100000;

}

.text-over-video h1 {
    color: white;
    font-size: 4.25vw;
    font-family: 'Montserrat', sans-serif;
    line-height: 4vw;
    margin-bottom: 25px;
}

